.movie-details{
    width: 60%;
    display: flex;
    height: 100%;
    margin-top: 1%;
    margin-left: 25%;
    border-radius: 25px;
    transition: ease 5s;
}
.child-active {
    height: 10%;

}

.poster-preview{
    margin-right: 10px;
}


.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}